{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-center mt-5 mb-xl-5">
    
        <div class="card p-4 bg-light me-6">
            <h3 class="text-center mb-3">Как создать курс?</h3>
            <p>
                1. <strong>Создайте курс</strong> – укажите название, категорию, описание, главы.<br>
                3. <strong>Редактируйте главы</strong> – внутри каждого курса можно отредактировать главы, добавить материалы.<br>
                4. <strong>Создайте задания</strong> – в верхней вкладке "Задания" создайте несколько заданий для главы.<br>
                5. <strong>Создайте тест</strong> - в верхней вкладке "Тесты" создайте тест из нескольких заданий и соедините с главой.<br>
                6. <strong>Подпишите группу на курс</strong> - в верхней вкладке "Подписки на курс" добавьте группу в курс.
            </p>
        </div>
    
        <div class="card mt-6">
            <div class="card-header">
                <h5>Список категорий</h5>
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
                <table class="table table-bordered">
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td>
                                <ul class="mb-0">
                                    <li>
                                        {{ category.name }}
                                        <a href="{% url 'courses:delete_category' category.id %}" class="text-danger text-decoration-none">❌</a>
                                    </li>    
                                </ul>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center">Категорий пока нет</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        <a href="{% url 'courses:create_category' %}" class="btn btn-primary ">Создать категорию</a>
        </div>
    </div>     


    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Список курсов</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Статус</th>
                    <th>Категория</th>
                    <th class="text-center" style="width: 100px;">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course.title }}</td>
                    <td>{{ course.description|truncatechars:50 }}</td>
                    <td>{{ course.status }}</td>
                    <td>{{ course.category.name }}</td>
                    <td class="text-center">
                        <a href="{% url 'courses:edit_course' course.id %}" class="text-warning me-2">
                           ✏️
                        </a>
                        <a href="{% url 'courses:delete_course' course.id %}" class="text-danger">
                            🗑️
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'courses:create_course' %}" class="btn btn-primary ms-5">Создать курс</a>    
    </div>
</div>
    
{% endblock %}