{% extends 'base.html' %}

{% block content %}
    
<h3 class="d-flex justify-content-center mt-3">{{ course.title }}</h3>
    
<pre class="d-flex flex-wrap justify-content-center mt-5">
    {{ course.description }}
</pre>    
    
<h3 class="d-flex justify-content-center mt-5">Главы курса:</h3>
    
<div class="d-flex flex-wrap justify-content-center gap-3 mt-5">
    {% for chapter in chapters %}
        <div class="card 
            {% if chapter.completed_tests_count == chapter.total_tests_count and chapter.total_tests_count != 0%}completed-chapter{% endif %}" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ chapter.title }}</h5>
                <p>
                    Выполнено тестов:
                    {{ chapter.completed_tests_count }} / {{ chapter.total_tests_count }}
                </p>

                {% if chapter.is_accessible %}
                    <a href="{% url 'courses:chapter' chapter.id %}" class="card-link">Перейти</a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p class="mt-3">Главы курса не найдены.</p>
    {% endfor %}
</div>

    
    
    
    
    
    
    
    
    
<style>
    .completed-chapter {
        background-color: #28a745;
        color: white;
        }
    pre {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        color: #444; 
        line-height: 1.5;
        white-space: pre-wrap;
    }
</style>    
    
{% endblock %}