{% extends 'base.html' %}

{% block content %}
    
    <div class="container mt-5">
        <h2 class="text-center fw-bold">{{ course.title }}</h2>
    
        <p class="lead text-muted text-center mt-3">{{ course.description }}</p>
    
        <h3 class="text-center mt-5">Главы курса:</h3>
    
        <div class="d-flex flex-wrap justify-content-center gap-3 mt-4">
            {% for chapter in chapters %}
                <div class="card shadow-lg border-0 p-3" 
                    style="width: 18rem; border-radius: 15px; 
                           {% if chapter.is_completed %} background-color: #c3e6cb; color: #212529; {% endif %}">
                    
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{ chapter.title }}</h5>
    
                        {% if chapter.total_tasks %}
                            <p class="mb-2">
                                <strong>Выполнено тестов:</strong> 
                                {{ chapter.completed_tasks }} / {{ chapter.total_tasks }}
                            </p>
                        {% endif %}  
    
                        {% if chapter.is_accessible %}
                            <a href="{% url 'courses:chapter' course.id chapter.id %}" class="btn btn-light w-100">
                                Перейти
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p class="mt-3 text-muted text-center">Главы курса не найдены.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}