{% extends 'base.html' %}
{% load enumerate %}


{% block content %}
<h3 class="d-flex justify-content-center mt-3">Задание</h3>    
 
<div class="container mt-5" style="max-width: 800px;">

    <div class="card shadow-lg border-0 p-3 mb-4">
        <div class="card-body">
            <pre class="question">
                {{ current_task.question }}
            </pre>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% if not is_task_completed %}
                    <div class="text-center mt-2">
                        <input class="btn btn-primary" type="submit" value="Отправить">
                    </div>
                {% endif %}
            </form>
        </div>
    </div>


    <div class="container mt-5" style="max-width: 800px;">
        <div class="row d-flex flex-wrap justify-content-start">
            {% for index, task in tasks_in_chapter|enumerate %}
                <div class="col-auto p-1">
                    <a href="{% url 'courses:task' course_id chapter_id task.id %}"
                        class="custom_card
                        
                        {% if task.is_completed %} 
                            completed-test-card 
                        {% else %} 
                            not-completed-test-card 
                        {% endif %}">
                    
                        <div class="card-body p-2 text-center">
                            <h6 class="card-title mb-0">{{ index }}</h6>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>   

</div>    
    
<div class="d-flex justify-content-center mt-5">
    <a href="{% url 'courses:chapter' course_id chapter_id %}" class="btn btn-secondary">← Вернуться обратно</a>
</div>    
   
{% endblock %}