{% load static %}

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet" />
</head>

<body>
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
              <li class="nav-item"><a href="{% url 'courses:home' %}" class="nav-link link-dark px-2 active">Курсы</a></li>
          </ul>
        
          <ul class="nav me-auto">
              <li class="nav-item"><a href="{% url 'courses:courses_list' %}" class="nav-link link-dark px-2 active">Курсы</a></li>
          </ul>
        
          <ul class="nav me-auto">
              <li class="nav-item"><a href="{% url 'courses:tasks_list' %}" class="nav-link link-dark px-2 active">Задания</a></li>
          </ul>
        
          <ul class="nav me-auto">
              <li class="nav-item"><a href="{% url 'courses:tests_list' %}" class="nav-link link-dark px-2 active">Тесты</a></li>
          </ul>
          <ul class="nav me-auto">
              <li class="nav-item"><a href="{% url 'courses:students_list' %}" class="nav-link link-dark px-2 active">Студенты</a></li>
          </ul>        
          {% if request.user.is_authenticated %}
              
            <ul class="nav">
                <li class="nav-item">
                    <a href="{% url 'users:profile' user.id %}" class="nav-link link-dark px-2 active">Профиль</a>
                </li>
 
                <li class="nav-item">
                    <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="nav-link link-dark px-2 active">Выйти</button>
                    </form>
                </li>
            </ul>
              
          {% else %}
              
              <ul class="nav">
                <li class="nav-item"><a href="{% url 'users:login' %}" class="nav-link link-dark px-2 active">Вход</a></li>
                <li class="nav-item"><a href="{% url 'users:registration' %}" class="nav-link link-dark px-2 active">Регистрация</a></li>
              </ul>
              
          {% endif %}
        </div>
    </nav>
    
    {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    
    {% block content %}
    {% endblock %}
</body>
