{% extends "base.html" %}

{% block content %}
<div class="container mt-5 mt-5">
<h2 class="text-center">Доступные контрольные тесты:</h2>
    {% if student_control_tests %}
        <div class="row">
            {% for test in student_control_tests %}
                <div class="col-md-6 mb-3 mt-5">
                    <div class="text-card shadow-sm" style="border: 1px solid #ccc; border-radius: 10px;">
                            <div class="card-body">
                                <h5 class="card-title">{{ test.title }}</h5>
                                {% for sub in control_test_subscription %}
                                    {% if sub.control_test.id == test.id %}
                                        {% if sub.is_completed %}
                                            <p class="card-text text-success" style="font-size: 1.3rem;">
                                                Результат: {{ sub.result }} %
                                            </p>
                                        {% else %}
                                            <a href="{% url 'tests:fill_control_test' test.id %}" class="text-decoration-none">
                                            <p class="card-text text-muted">
                                                Тест ещё не пройден
                                            </p>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center mt-4">
            У вас пока нет доступных контрольных тестов.
        </div>
    {% endif %}
</div>
{% endblock %}