{% extends 'base.html' %}

{% block content %}
    
<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Список тестов</h1>
        <div class="d-flex justify-content-end">
            <a href="{% url 'tests:create_test' %}" class="btn btn-primary ms-5">Создать тест</a>    
        </div>
    </div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Курс</th>
            <th>Название главы</th>
            <th>Задания</th>
            <th class="text-center" style="width: 100px;">Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
            {% for chapter in course.prefetched_chapters %}
                {% with chapter.prefetched_test as test %}
                    {% if test %}
                        <tr>
                            <td>{{ course.title }}</td>
                            <td>{{ chapter.title }}</td>
                            <td>
                                <ul>
                                    {% for task in test.prefetched_tasks %}
                                        <li>{{ task.question }}</li>
                                    {% empty %}
                                        <li class="text-muted">Нет заданий</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="text-center">
                                <a href="{% url 'tests:delete_test' test.id %}" class="text-danger">
                                    🗑️
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>


</div>     
    
{% endblock %}
