{% extends "base.html" %}

{% block content %}
    
    
    
<div class="container mt-4">
    <h2 class="text-center">Редактировать задание</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 

        {{ answer_formset.management_form }}
        {% for form in answer_formset %}
            <div class="form-group mb-3">
                {{ form }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>    
    </form>

    <div class="d-flex justify-content-center mt-5">
        <a href="{% url 'tests:tasks_list' %}" class="btn btn-secondary">← Вернуться обратно</a>
    </div>
</div>

{% endblock %}

