{% extends 'base.html' %}
{% load enumerate %}

{% block content %}
    <h3 class="d-flex justify-content-center mt-3">{{ chapter.title }}</h3>
    
    <div class="container mt-5" style="max-width: 800px;">
        <div class="row">
            {% if text %}
                <pre
                     style="font-family: Arial, sans-serif; font-size: 16px;"
                     class="d-flex justify-content-center mt-3">{{ text }}
                </pre>
            {% endif %}
        </div>
    
        <div class="row mt-3">
            {% if video %}
                <video controls>
                    <source src="{{ video.url }}" type="video/mp4">
                </video>
            {% endif %}
        </div>
            
        <div class="row mt-5">
            {% if file %}
                <h4> Документ для изучения:</h4>
                <a href="{{ file.url }}" target="_blank">Скачать PDF</a>
            {% endif %}        
        </div>
    </div>
    
    <h3 class="d-flex flex-wrap justify-content-center mt-3">Тесты:</h3>

    <div class="container mt-3" style="max-width: 800px;">
        <div class="row d-flex flex-wrap justify-content-start">
            {% for index, test in tests|enumerate %}
            <div class="col-auto p-1">
                <a href="{% url 'courses:test' test.id %}"
                   class="card {% if test.id in request.user.completed_tests %} completed-test-card {% else %} not-completed-test-card {% endif %} text-decoration-none d-flex align-items-center justify-content-center">
                    <div class="card-body p-2 text-center">
                        <h6 class="card-title mb-0">{{ index }}</h6>
                    </div>
                </a>
            </div>
            {% empty %}
                <p class="mt-3">Главы курса не найдены.</p>
            {% endfor %}
        </div>
    </div>


<style>
    /* Стиль для формы карточки */
    .card {
        width: 50px;
        height: 50px;
        font-size: 14px;
        border-radius: 10px;
        transition: border-color 0.3s, color 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Стиль для карточке, где тест был пройден */
    .completed-test-card {
        background-color: #28a745;
        border: 2px solid transparent;
        color: white;
    }

    /* Эффект при наведении на карточку с пройденным тестом */
    .completed-test-card:hover {
        border-color: #81c784;
        color: white;
    }

    /* Стиль для карточки с непройденным тестом */
    .not-completed-test-card {
        background-color: #fff;
        border: 2px solid #ddd;
        color: #333;
    }

    /* Эффект при наведении на карточку с непройденным тестом */
    .not-completed-test-card:hover {
        border-color: #66bb6a;
        color: #333;
    }
</style>

{% endblock %}