{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center col-md-5 mb-5">
        <form method="post" class="p-4 border rounded shadow bg-white">
            {% csrf_token %}
            <h4 class="mb-3">Авторизация</h4>
            {{ form.as_p }}
            <input class="btn btn-primary w-100" type="submit" value="Продолжить">
        </form>
        
    </div>
</div>

{% endblock %}