{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        
        <div class="d-flex flex-column align-items-end mt-5">
            
            <form method="post" class="mb-4 d-flex flex-column">
                <h3 class="mb-2">Получить список студентов в Excel</h3>
                {% csrf_token %}
                {{ group_form.as_p }}
                <h6>* Учитывайте, что существующие пароли студентов обновятся</h6>
                <button type="submit" class="btn btn-success mt-2">Получить список</button>
            </form>
            
            <form method="post" enctype="multipart/form-data" class="mb-4 mt-5 d-flex flex-column">
                <h3>Добавить студентов через Excel</h3>
                {% csrf_token %}
                <div class="form-group">
                    <label for="excel_file">Загрузить файл</label>
                    <input type="file" name="excel_file" class="form-control" accept=".xlsx" required>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Добавить студентов</button>
            </form>     
            
        </div>

        
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Список студентов</h1>
        </div>
        
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Логин</th>  
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Группа</th>
                    <th>Год</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    {% for group in student.groups.all %}
                        <tr>
                            {% if forloop.first %}
                                <td rowspan="{{ student.groups.count }}" class="align-middle">{{ student.username }}</td>
                                <td rowspan="{{ student.groups.count }}" class="align-middle">{{ student.last_name }}</td>
                                <td rowspan="{{ student.groups.count }}" class="align-middle">{{ student.first_name }}</td>
                            {% endif %}
                            <td>{{ group.number }}</td>
                            <td>{{ group.year }}</td>
                            <td>
                                <a href="{% url 'users:delete_student' student.id %}">🗑️</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>{{ student.username }}</td>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.first_name }}</td>
                            <td colspan="2" class="text-muted text-center">Нет группы</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    
        <div class="d-flex justify-content-center mt-5">
            <a href="{% url 'users:create_student' %}" class="btn btn-primary ms-5">Добавить студента</a>    
        </div>
    
    </div>
{% endblock %}

